<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Jovian Careers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #banner{
            height:360px;
            width:100%;
            object-fit:cover;      
        }
    </style>
</head>
    
<body>
    <div class = "container">
      <h1 class ="text-center mt-2 mb-4">{{company_name}}  Careers</h1>
    <img id = "banner" src="https://8f642d5e-6998-4741-aa62-58f5673b1722-00-2qsqzimip1tvc.pike.replit.dev/static/banner.jpg">
    <h2 class = "text-center mt-2 mb-4">About Jovian</h2>
    <p class ="lead">
        Exploring the world offers a unique blend of adventure and learning that enriches our perspectives. Every destination, from bustling cities to quiet villages, holds stories waiting to be discovered. Travel not only connects us with diverse cultures but also helps us understand our own roots and values. The landscapes, languages, and traditions encountered along the way broaden our appreciation for the planet. In every encounter, there’s an opportunity to grow, reflecting on how our individual journeys intersect with the broader human experience. Ultimately, each trip becomes a chapter in the ever-evolving narrative of our lives.</p>
    <h2 class ="text-center mt-2 mb-4">Job Openings</h2>
        <div>   
        {% for job in jobs %}
           {% include 'jobitem.html'%}
        {% endfor %}
        </div>
    <div class="text-center">
    <button class ="btn btn-primary btn-lg">Contact us</button>
            <p class ="mt-4">Copyright 2022,jovian</p>
        </div>
    </div>
</body>
</html>

